<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /goldman-sachs/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /goldman-sachs/index.html [L]
</IfModule>
