:root {
    --color-primary: #03045E;
    --color-text: #232323;
    --color-background: #FFFFFF;
}


body{
    background:#E4E5E6 !important;
}


.text-primary, a.text-primary{
    color: var(--color-primary) !important;
}

.white-bg{
    background-color:#fff;
}

.spinner-border{
    border-width: 5px !important;
}

